*.build
*.buildinfo
*.changes
*.deb
*.debian.tar.*
*.dsc
*.orig.tar.*
*.udeb
*~
.pc/
debian/.debhelper/
debian/build/
debian/debhelper-build-stamp
debian/files
debian/linux-image-cv181x-sodoport/
debian/linux-source-cv181x-sodoport/
